*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
body{

	margin-top: 15vh;
	background: #8890e2;
	display: flex;
	justify-content: center;

}
.popup-container{
	display: none;

	background: #ffff;
	border-radius: 8px;
	padding: 15px;
	border:2px solid #000;
	
	height: 60vh;
	box-shadow: 0 0 7px 2px;
}
@media(min-width: 767px){
	.popup-container{
		width: 40vw;
	}
}
@media(min-width: 1025px){
	.popup-container{
		width: 20vw;
	}
}
.heading,.content{
	margin:5px;
}
.content{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;
	margin:4px;
}
.btn{
width: 90px;
	padding: 8px 12px;
	margin:8px;
	background: green;
	color: #fff;
	border-radius: 3px;
	box-shadow: 0 0 7px 2px;
}

